<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{{_sections.style}}}
</head>
<body>
{{{body}}}
</body>
{{{_sections.script}}}
</html>