<%- include header%>

    <div class="links">
        <a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a><a href="">友谊的小船说翻就翻</a>
    </div>

<%- include footer%>