{{> header}}

  <div class="login">
    <form action="/login" method="post">
      <table border="0">
        <tr>
          <th>用户名：</th>
          <td><input type="text" name="name"/></td>
        </tr>
        <tr>
          <th>密码：</th>
          <td><input type="password" value="123456" name="password"/></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="hidden" name="refer" value="{{refer}}"/><input type="submit" value="登录"/></td>
        </tr>
      </table>
    </form>
  </div>

{{> footer}}