<%- include header%>

    <div class="searchPage">
        <%if(posts.length){%>
        <%- include postList %>
        <%}else{%>
        <div class="noData">没有数据。。。</div>
        <%}%>
    </div>

<%- include footer%>